<div class="login-container">
  <h1 style="color: darkblue; font-size: 50px; text-shadow: 3px 0 3px #fbff00fa;">𝒲𝑒𝓁𝒸𝑜𝓂𝑒 𝓉𝑜 𝒞𝒾𝓉𝒾 𝐵𝒶𝓃𝓀</h1>
  <div class="login-box">
    <!-- Home Button -->
    <button [routerLink]="['/']" class="btn-home">🏠 Home</button>
      <h2>👨‍💼 Employee Login</h2>

      <input type="text" [(ngModel)]="username" placeholder="Username" class="form-control">
      <input type="password" [(ngModel)]="password" placeholder="Password" class="form-control">

      <button (click)="login()" class="btn-login">Login</button>

      <p class="text-danger" *ngIf="error">{{ error }}</p>

      
  </div>

  <!-- Footer -->
  <footer class="footer">© 2025 Naheda Pathan | Citi Bank</footer>
</div>
